@media screen and (min-width: 500px) {
    .body{
        /*margin-top: 75px;*/
    }

    .h1{
        text-align: center;
    }

    .h1 h1{
        /*margin-top: 100px;*/
        margin-bottom: 50px;
    }

    .head {
        display: flex;
        margin-bottom: 30px;
    }

    .head h2{
        text-align: center;
        margin: 0;
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }




    /* モーダルのスタイル */
    .modal {
        display: none; /* 初期状態では非表示 */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4); /* 半透明の背景 */
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }





    /* 削除、追加ボタン */
    .p{
        position: fixed;
        bottom: 100px;
        right: 1vw;
        display: flex;
    }

    .p a{
        /*margin: 10px;*/
        /*padding: 15px;*/
        /*border-radius: 30px;*/
        /*background-color: #6d6;*/
        display: inline-block;
        width: 60px;
        margin: 10px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 30px;
        background-color: #6d6;
        text-align: center;
    }

    .p i{
        text-align: center;
        vertical-align: middle;
        font-size: 28px;
        color: #fff;
    }

    .p p{
        text-align: center;
        margin: 0;
    }





    /* メニューバー */
    #sp-fixed-menu {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0;
        font-size: 0;
        opacity: 0.9;
        z-index: 99;
    }

    #sp-fixed-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 10vh; /* 高さを画面サイズに応じて調整 */
    }

    #sp-fixed-menu li {
        justify-content: center;
        align-items: center;
        width: 25%;
        padding: 0;
        margin: 0;
        font-size: 14px;
        background: #6a6;
    }

    #sp-fixed-menu li.active {
        background: #4CAF50;
        border-top: 3px solid #fff;
    }

    #sp-fixed-menu li a {
        margin: 0;
        text-decoration: none;
        color: #fff;
        text-align: center;
        display: block;
        padding: 10px;
        transition: background 0.3s ease;
    }

    #sp-fixed-menu li a:hover {
        background: #5c5;
        color: #000;
    }

    #sp-fixed-menu li a:focus {
        outline: none;
        box-shadow: 0 0 5px #fff;
    }

    #sp-fixed-menu li a p {
        margin: 10px;
    }

    #sp-fixed-menu li a i {
        margin-top: 10px;
        font-size: 18px; /* アイコンサイズを微調整 */
    }




    /*戻るボタン*/
    /*.back{*/
    /*    padding-top: 5px;*/
    /*    padding-bottom: 5px;*/
    /*    width: 30px;*/
    /*    height: 30px;*/
    /*    margin-left: 10px;*/
    /*    margin-right: 10px;*/
    /*    background-color: #fff;*/
    /*    border: none;*/
    /*}*/
    /*.back i{*/
    /*    font-size: 30px;*/
    /*}*/
    .head{
        display: flex;
        margin-bottom: 30px;
    }
    .head .back{
        /*width: 30px;*/
        /*height: 30px;*/
        margin-left: 10px;
        margin-right: 10px;
        background-color: #fff;
        border: none;
    }
    .head .back i{
        font-size: 30px;
    }

    .head h2{
        margin: 0;
        /*padding-top: 5px;*/
        /*padding-bottom: 5px;*/
        line-height: unset;
    }




    /*!*list.jsp*!*/
    /*.list .result{*/
    /*    display: flex;*/
    /*    width: 90%;*/
    /*    margin: 15px auto;*/
    /*}*/
    /*.list .result a{*/
    /*    text-decoration: none;*/
    /*    margin: 10px;*/
    /*    color: #000;*/
    /*}*/
    /*.list .title{*/
    /*    width: 90%;*/
    /*    padding: 10px;*/
    /*    border-radius: 10px;*/
    /*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    /*}*/
    /*.list .title h3{*/
    /*    margin: 0;*/
    /*}*/
    /*.list .result .trash{*/
    /*    width: 10%;*/
    /*    text-align: right;*/
    /*}*/
    /*list.jsp*/
    .list .results{
        height: 65vh;
        overflow-y: auto;
    }
    .list .result{
        margin: 15px;
    }
    .list .result a{
        display: flex;
        width: 40%;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        color: #000;
    }
    .list .result a h3{
        width: 85%;
        margin: 0;
        padding: 5px;
    }
    .list .result form{
        width: 10%;
        margin: 0;
        margin-left: 5%;
    }
    .list .result button{
        padding: 10px;
        text-align: right;
        background-color: #fff;
        border: none;
    }
    .list .result button i{
        font-size: 16px;
    }
    .list .result p{
        width: 40%;
        text-align: right;
        margin: 3px auto;
        color: #666666;
    }





    /*Edit.jsp, Create.jsp*/
    .h2{
        margin-right: 62px;
        width: 100%;
    }
    .memoEdit{
        /*margin: 25% 30px;*/
        text-align: center;
    }
    .memoEdit textarea{
        margin: 10px;
        padding: 10px;
        border: solid 1px #ccc;
        border-radius: 5px;
        line-height: 1.5em;
    }
    .memoEdit .save{
        text-align: center;
        margin: 30px;
    }
    .save button{
        background-color: #66aa66;
        color: white;
        border: none;
        border-radius: 5px;
        width: 160px;
        padding: 10px;
        font-size: 16px;
    }

    .save button:hover{
        opacity: 0.9;
    }
}





@media screen and (max-width: 499px) {
    .body{
        /*margin-top: 75px;*/
    }

    .h1{
        text-align: center;
    }

    .h1 h1{
        /*margin-top: 100px;*/
        margin-bottom: 50px;
    }

    .head {
        display: flex;
        margin-bottom: 30px;
    }

    .head h2{
        margin: 0;
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }




    /* モーダルのスタイル */
    .modal {
        display: none; /* 初期状態では非表示 */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4); /* 半透明の背景 */
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }





    /* 削除、追加ボタン */
    .p{
        position: fixed;
        bottom: 100px;
        right: 10px;
        display: flex;
    }

    .p a{
        /*margin: 10px;*/
        /*padding: 15px;*/
        /*border-radius: 30px;*/
        /*background-color: #6d6;*/
        display: inline-block;
        width: 60px;
        margin: 10px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 30px;
        background-color: #6d6;
        text-align: center;
    }

    .p i{
        text-align: center;
        vertical-align: middle;
        font-size: 28px;
        color: #fff;
    }

    .p p{
        text-align: center;
        margin: 0;
    }





    /* メニューバー */
    #sp-fixed-menu {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0;
        font-size: 0;
        opacity: 0.9;
        z-index: 99;
    }

    #sp-fixed-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 10vh; /* 高さを画面サイズに応じて調整 */
    }

    #sp-fixed-menu li {
        justify-content: center;
        align-items: center;
        width: 25%;
        padding: 0;
        margin: 0;
        font-size: 14px;
        background: #6a6;
    }

    #sp-fixed-menu li.active {
        background: #4CAF50;
        border-top: 3px solid #fff;
    }

    #sp-fixed-menu li a {
        margin: 0;
        text-decoration: none;
        color: #fff;
        text-align: center;
        display: block;
        padding: 10px;
        transition: background 0.3s ease;
    }

    #sp-fixed-menu li a:hover {
        background: #5c5;
        color: #000;
    }

    #sp-fixed-menu li a:focus {
        outline: none;
        box-shadow: 0 0 5px #fff;
    }

    #sp-fixed-menu li a p {
        margin: 10px;
    }

    #sp-fixed-menu li a i {
        margin-top: 10px;
        font-size: 18px; /* アイコンサイズを微調整 */
    }




    /*戻るボタン*/
    /*.back{*/
    /*    padding-top: 5px;*/
    /*    padding-bottom: 5px;*/
    /*    width: 30px;*/
    /*    height: 30px;*/
    /*    margin-left: 10px;*/
    /*    margin-right: 10px;*/
    /*    background-color: #fff;*/
    /*    border: none;*/
    /*}*/
    /*.back i{*/
    /*    font-size: 30px;*/
    /*}*/
    .head{
        display: flex;
        margin-bottom: 30px;
    }
    .head .back{
        /*width: 30px;*/
        /*height: 30px;*/
        margin-left: 10px;
        margin-right: 10px;
        background-color: #fff;
        border: none;
    }
    .head .back i{
        font-size: 30px;
    }

    .head h2{
        margin: 0;
        /*padding-top: 5px;*/
        /*padding-bottom: 5px;*/
        line-height: unset;
    }




    /*!*list.jsp*!*/
    /*.list .result{*/
    /*    display: flex;*/
    /*    width: 90%;*/
    /*    margin: 15px auto;*/
    /*}*/
    /*.list .result a{*/
    /*    text-decoration: none;*/
    /*    margin: 10px;*/
    /*    color: #000;*/
    /*}*/
    /*.list .title{*/
    /*    width: 90%;*/
    /*    padding: 10px;*/
    /*    border-radius: 10px;*/
    /*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    /*}*/
    /*.list .title h3{*/
    /*    margin: 0;*/
    /*}*/
    /*.list .result .trash{*/
    /*    width: 10%;*/
    /*    text-align: right;*/
    /*}*/
    /*list.jsp*/
    .list .results{
        height: 76vh;
        overflow-y: auto;
    }
    .list .result{
        margin: 15px;
    }
    .list .result a{
        display: flex;
        width: 90%;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        color: #000;
    }
    .list .result a h3{
        width: 85%;
        margin: 0;
        padding: 5px;
    }
    .list .result form{
        width: 10%;
        margin: 0;
        margin-left: 5%;
    }
    .list .result button{
        padding: 10px;
        text-align: right;
        background-color: #fff;
        border: none;
    }
    .list .result button i{
        font-size: 16px;
    }
    .list .result p{
        text-align: right;
        margin: 3px 10px;
        color: #666666;
    }





    /*Edit.jsp, Create.jsp*/
    .memoEdit{
        margin: 30px;
    }
    .memoEdit textarea{
        margin: 10px;
        padding: 10px;
        border: solid 1px #ccc;
        border-radius: 5px;
        line-height: 1.5em;
    }
    .memoEdit .save{
        text-align: center;
        margin: 30px;
    }
    .save button{
        background-color: #66aa66;
        color: white;
        border: none;
        border-radius: 5px;
        width: 48%;
        padding: 10px;
        font-size: 16px;
    }

    .save button:hover{
        opacity: 0.9;
    }
}